<h2>Tu Carrito</h2>

<div class="container text-center">
    <div class="row justify-content-md-center">
        {{#if carrito.products.length}}
            {{#each carrito.products}}
                <div class="col-8 col-md-4 col-lg-3 mb-4">
                    <div class="card">
                        <img src="{{this.productId.thumbnail}}" class="rounded mx-auto d-block" style="max-width: 100%;" alt="150px">
                        <div class="card-body">
                            <h5 class="card-title">{{this.productId.title}}</h5>
                            <p class="card-text">${{this.productId.price}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h2>Tu carrito está vacío</h2>
        {{/if}}
    </div>
</div>

